<% if @types.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@types.errors.count, "error") %>
      Prohbido almacenar este tipo por:
    </h2>
    <ul>
      <% @types.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%=form_for @types do|f| %>
  <form class="form-horizontal">
    <div class="row">
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-12">
            <%= f.label 'Descripcion de Tipo', :class => 'form-label' %><br>
            <%= f.text_field :descrip_tipo,class: "form-control" %>
          </div>

        </div>
      </div>
    </div>
  </form>
  <div>

  </div>
  <div>
    <%= f.submit 'Enviar', :class=> 'btn btn-primary' %>
    <%= link_to 'Volver', types_path, :class=> 'btn btn-danger' %>
  </div>
<% end %>
