<div class="panel panel-info bootcards-file">
  <div class="panel-heading">
    <h1 class="panel-title">Ficha de Usuario</h1>
  </div>
  <div class="list-group">

    <div class="list-group-item" style="height: 130px; padding-left: 0px !important;">


      <h3 class="list-group-item-text">
        <%=@user.nombre_trabajador %>
      </h3>
      <div class="list-group-item-text">
        <b>Nombre Completo: </b><%=@user.nombre_trabajador %><b> </b><%=@user.apellidos_trabajador %>
      </div>

    </div>
    <div class="list-group-item">
      <p class="list-group-item-text"><strong>Detalles</strong></p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <p>
            <ul>
              <li>
                <b>Rol: </b><%=Role.find(@user.id_rol).descrip_rol %>
              </li>
              <li>
                <b>Estado: </b><%=State.find(@user.id_estado).descrip_estado  %>
              </li>
              <li>
                <b>Email/Login: </b><%=@user.email  %>
              </li>
              <li>
                <b>Rut: </b><%=@user.rut%>
              </li>
            </ul>
          </p>
        </div>

        <div class="col-md-7">
          <p>
            <ul>
              <li>
                <b>Fono: </b><%=@user.fono%>
              </li>
              <li>
                <b>Domicilio: </b><%=@user.domicilio%>
              </li>
              <li>
                <b>Fecha de Creación: </b><%=@user.created_at%>
              </li>
              <li>
                <b>Fecha de Última modificación: </b><%=@user.updated_at%>
              </li>
            </ul>
          </p>
        </div>
      </div>
    </div>



    <div class="list-group-item">
      <p class="list-group-item-text">
      <ul>


      </ul>
      </p>
    </div>

  </div>
</div>
<br>

<div>
  <%=link_to 'Volver', users_path, :class => 'btn btn-primary' %>
</div>

<style>
  .product-img{
    width: auto;
    height: 120px;
  }

</style>