<h1>Crear Usuario</h1>
<%= form_for :worker, url: workers_path do |f|%>
  <%= f.label :nombre_trabajador%>
    <%= f.text_field :nombre_trabajador %><br>
  <%= f.label :apellidos_trabajador%>
    <%= f.text_field :apellidos_trabajador %><br>
  <%= f.label :Estado %>
    <%= collection_select(:worker, :estado, @ListaEstado, :id, :name, {:prompt => true}) %>

  <label>Estado:</label><input value="ACTIVO" disabled="disabled"/><br>
  <%= f.label :rut%>
    <%= f.text_field :rut%> <%= f.text_field :dv%><br>
  <%= f.label :fono%>
    <%= f.text_field :fono%><br>
  <%= f.label :domicilio %>
    <%= f.text_field :domicilio%><br>
  <%= f.label :Rol %>
  <%= collection_select(:worker, :rol_id, @ListaRoles, :id, :descrip_rol, {:prompt => true}) %><br>
  <%= f.submit %>
<% end %>
