<h1>Editar Usuario</h1>
<%= form_for @worker do |f|%>
    <%= f.label :nombre_trabajador%>
    <%= f.text_field :nombre_trabajador %><br>
    <%= f.label :apellidos_trabajador%>
    <%= f.text_field :apellidos_trabajador %><br>
    <%= f.label :Estado %>
    <%= collection_select(:worker, :id_estado, @ListaEstado, :id, :descrip_estado, {:prompt => true}) %><br>
    <%= f.label :rut%>
    <%= f.text_field :rut%> <%= f.text_field :dv%><br>
    <%= f.label :fono%>
    <%= f.text_field :fono%><br>
    <%= f.label :domicilio %>
    <%= f.text_field :domicilio%><br>
    <%= f.label :Rol %>
    <%= collection_select(:worker, :id_rol, @ListaRoles, :id, :descrip_rol, {:prompt => true}) %><br>
    <%= f.submit %>
<% end %>
