<h1>Listado de usuarios</h1>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Rol</th>
      <th>Estado</th>
      <th>Rut</th>
      <th>Fono</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @Usuarios.each do |usuario|%>
      <tr>
        <td> <%=usuario.nombre_trabajador%></td>
        <td> <%=usuario.apellidos_trabajador %></td>
        <td>
            <% if usuario.id_rol == 1%>
                VENDEDOR
              <% else %>
                ADMINISTRADOR
            <%end%>
        </td>
        <td>
            <% if usuario.id_estado == 1 %>
                ACTIVO
            <% else%>
                INACTIVO
            <%end%>
        </td>
        <td> <%=usuario.rut %>-<%= usuario.dv %> </td>
        <td> <%=usuario.fono %></td>
        <td>
          <%= link_to "Editar", edit_worker_path(usuario)%>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
<div>
  <%= link_to "Nuevo usuario", workers_new_path %>
</div>