<h1>Listado de usuarios</h1>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Estado</th>
      <th>Rut</th>
      <th>Fono</th>
      <th>Editar</th>
    </tr>
  </thead>
  <tbody>
    <% @Usuarios.each do |usuario|%>
      <tr>
        <td> <%=usuario.nombre_trabajador%></td>
        <td> <%=usuario.apellidos_trabajador %></td>
        <td>
            <% if usuario.id_rol == 1%>
                VENDEDOR
              <% else %>
                ADMINISTRADOR
            <%end%>
        </td>
        <td> <%=usuario.rut %>-<%= usuario.dv %> </td>
        <td> <%=usuario.fono %></td>
        <td> <a href="#">Editar</a></td>
      </tr>
    <%end%>
  </tbody>
</table>
<div>
  <a href="#">Crear Usuario</a>
</div>