<h1>Listado de productos</h1>

<%= link_to 'Volver', controller: "home", action: "index" %>
<div>
  <table>
    <tr>
      <th>Nombre </th>
      <th>Tipo</th>
      <th>Precio</th>
      <th>Stock </th>
      <th>Accion</th>
      <th colspan="3"></th>
    </tr>

    <% @Productos.each do |producto| %>
      <tr>

        <td><%= producto.nombre_producto %></td>
        <td> <%=@Tipos.find(producto.id_tipo).descrip_tipo %> </td>
        <td><%= producto.precio %></td>
        <td><%= producto.stock %></td>
        <td><%= link_to 'Editar', edit_product_path(producto)%></td>
      </tr>
    <% end %>
  </table>
</div>
<div>
  <%= link_to 'Nuevo Producto', new_product_path %>
  <%= link_to 'Nuevo Tipo de Producto', controller: 'types', action: 'new' %>
</div>
