<% if @venta.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@venta.errors.count, "error") %>
      Prohbido almacenar este usuario por:
    </h2>
    <ul>
      <% @venta.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%=form_for @venta do|f| %>
  <div>
    <label>Vendedor: </label><%= current_user.nombre_trabajador%>
  </div>

  <div>
    <%= f.label :'Seleccionar producto' %>

    <%= f.collection_select(:id_producto, @productos, :id, :nombre_producto, :prompt => 'Select') %>
    <% @prod_select = @venta.id_producto %>
    <%= f.select :cantidad, ((0..500).map {|i| [i,i] } << ["No limit",nil]) %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
