<h2>Lista de Ventas</h2>
<br>
<h3>Filtrar por Fecha</h3>
<div class="form-group">
  <%= form_tag sales_index_path, method: :get do %>
    <div class="row">
      <div class="form-group col-md-6">
        <label class="text-muted">Fecha de Inicio</label>
        <%= text_field_tag 'search[date_from]', @search.date_from, class: "form-control", type: 'date', id: 'FechaInicio' %>
        <small id="ErrorFechaInicio" class="invalid-feedback"></small>
      </div>
      <div class="form-group col-md-6">
        <label class="text-muted">Fecha de Término</label>
        <%= text_field_tag 'search[date_to]', @search.date_to, class: "form-control", type: 'date', id: 'FechaTermino' %>
        <small id="ErrorFechaTermino" class="invalid-feedback"></small>
      </div>
    </div>
    <div class="form-actions">
      <%= submit_tag 'Filtrar', class: 'btn btn-warning', id: "Filtrar"%>
    </div>
  <%end %>
  <%= form_tag sales_index_path, method: :get do %>
    <div class="form-actions">
      <%= submit_tag 'Resetear', class: 'btn btn-danger', id: "Boton"%>
    </div>
  <%end %>
</div>

<br>

<div class="col-12 col-sm-12 col-lg-12">
  <div class="table-responsive">
    <table class="table table-hover table-striped shadow-2dp" id="datatable">
      <thead>
        <tr class="info">
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Fecha de Venta</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%@Venta.each do |venta|%>
          <tr>
            <td><%= User.find(venta.id_usuario).nombre_trabajador.titleize %></td>
            <td><%= User.find(venta.id_usuario).apellidos_trabajador.titleize %></td>
            <td><%= venta.fecha_venta.strftime('%d-%m-%Y') %></td>
            <td><%= link_to 'Detalle', descrip_sale_path(venta.id), :class => 'btn btn-success btn-xs' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
<div class="form-actions">
  <%= link_to 'Nueva venta' , new_sale_path, :class => 'btn btn-primary'%>
</div>

<style>
  #Boton{
    position:relative;
    left:84px;
    top: -45px;
  }
</style>