<h1>Lista de Ventas</h1>

<div class="col-12 col-sm-12 col-lg-12">
  <div class="table-responsive">
    <table class="table table-hover table-striped shadow-2dp">
      <tr class="info">
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Fecha de Venta</th>
        <th>Accion</th>
      </tr>
      <%@Ventas.each do |venta|%>
        <tr>
          <td><%= User.find(venta.trabajador).nombre_trabajador %></td>
          <td><%= User.find(venta.trabajador).apellidos_trabajador %></td>
          <td><%= venta.fecha %></td>
          <td><%= link_to 'Detalle', descrip_sale_path(venta.fecha), :class => 'btn btn-success btn-xs' %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div>
  <%= link_to 'Nueva venta' , new_sales_path, :class => 'btn btn-primary'%>
</div>
