<div class="container">
  <ol class="breadcrumb">
    <li><a href="/sales/index">Listado de Ventas</a></li>
    <li>Ficha de Venta</li>
  </ol>
</div>
<br>
<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-md-8">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <a href="#" data-dismiss="alert" class="close">×</a>
        <ul>
          <li>
            <%= value %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="col-md-2">
  </div>
</div>
<br>
<div class="panel panel-info bootcards-file">
  <div class="panel-heading">
    <h3 class="">Detalle de la venta</h3>
  </div>
  <div class="list-group">
    <div class="list-group-item" style="height: 130px; padding-left: 0px !important;">
      <h4 class="list-group-item-text">
        <b>Fecha de la venta: <%= @FechaVenta.strftime('%d-%m-%Y')%><br>
          Hora de la venta: <%=@FechaVenta.strftime('%H:%M:%S') %></b>
      </h4>
      <div class="list-group-item-text">
        <b>Vendedor(a): </b><%=User.find(@worker[0].id_usuario).nombre_trabajador.titleize %> <%=User.find(@worker[0].id_usuario).apellidos_trabajador.titleize %></li><br>
        <b>Identificación de venta: </b><%=@id_venta %>
      </div>

    </div>
    <div class="list-group-item">
      <p class="list-group-item-text"><strong>Detalle de la compra</strong></p>
    </div>
    <div class="list-group-item">
      <%@descripcionVenta.each do |venta|%>
        <p class="list-group-item-text">
        <ul>
          <li>
            <b>Producto: <%=@Productos.find(venta.id_producto).nombre_producto.capitalize %> </b>
          </li>
          <li>
            <b>Cantidad: <%=venta.cantidad  %></b>
          </li>
          <li>
            <b>Sub Total: $<%=(venta.cantidad).to_i * (venta.precio_actual).to_i %></b><br>
            <label class="text-muted"><small>Precio de venta: $<%=venta.precio_actual %></small></label>
          </li>
          <% @CostoTotal = @CostoTotal + ((venta.cantidad).to_i * (venta.precio_actual).to_i) %>
        </ul>
        </p>
      <%end %>
    </div>
  </div>
  <div class="panel-footer">
    <label class="form-label">Venta total: $<%=@CostoTotal %></label>
  </div>
</div>
<br>

<div>
  <a href="<%=params[:id]%>.pdf" class="btn btn-success" target="_blank">Descargar</a>
  <%=link_to 'Volver', sales_index_path, :class => 'btn btn-primary' %>
</div>